@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

$borders-color: #ccc;

$standart-padding: 10px;

html, body {
  height: 100%;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}
textarea {
  resize: none;
}
#container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;

  #map {
    flex-basis: 70%;
    flex-grow: 3;
    flex-shrink: 3;
    order: 1;
  }

  #sidebar {
    flex-basis: 30%;
    flex-shrink: 1;
    flex-grow: 1;
    order: 2;
    position: relative;
    @include box-sizing;
    border-left: 1px solid $borders-color;

    .advice {
      padding: $standart-padding;
      color: #aaa;
    }

    .auth-panel {
      width: 100%;
      height: 40px;
      line-height: 40px;
      padding: 0px $standart-padding;
      border-bottom: 1px solid $borders-color;
    }

    .filter-container {
      padding: $standart-padding;

      .route-btn {
        width: 55px;
        margin-bottom: 5px;
      }
    }

    h4.divided-title {
      padding: 0px $standart-padding;
      border-bottom: 1px solid $borders-color;
      height: 40px;
      line-height: 40px;
    }

    .advanced-actions {
      >div {
        padding: $standart-padding;
      }
    }

    .copyrights {
      padding: 0px $standart-padding;
      position: absolute;
      height: 40px;
      width: 100%;
      line-height: 40px;
      bottom: 0px;
      text-align: center;
    }
  }
}
